.homepage-root {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.homepage-content {
  margin-bottom: 20px;
}

.homepage-root p {
  color: white;
  font-size: 18px;
  margin: 0;
}

